@charset "utf-8";

@import "../../node_modules/highlight.js/styles/a11y-dark.css";
@import "../../node_modules/highlight.js/styles/a11y-light.css";
@import "../../node_modules/highlight.js/styles/agate.css";
@import "../../node_modules/highlight.js/styles/an-old-hope.css";
@import "../../node_modules/highlight.js/styles/androidstudio.css";
@import "../../node_modules/highlight.js/styles/arduino-light.css";
@import "../../node_modules/highlight.js/styles/arta.css";
@import "../../node_modules/highlight.js/styles/ascetic.css";
@import "../../node_modules/highlight.js/styles/atelier-cave-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-cave-light.css";
@import "../../node_modules/highlight.js/styles/atelier-dune-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-dune-light.css";
@import "../../node_modules/highlight.js/styles/atelier-estuary-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-estuary-light.css";
@import "../../node_modules/highlight.js/styles/atelier-forest-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-forest-light.css";
@import "../../node_modules/highlight.js/styles/atelier-heath-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-heath-light.css";
@import "../../node_modules/highlight.js/styles/atelier-lakeside-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-lakeside-light.css";
@import "../../node_modules/highlight.js/styles/atelier-plateau-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-plateau-light.css";
@import "../../node_modules/highlight.js/styles/atelier-savanna-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-savanna-light.css";
@import "../../node_modules/highlight.js/styles/atelier-seaside-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-seaside-light.css";
@import "../../node_modules/highlight.js/styles/atelier-sulphurpool-dark.css";
@import "../../node_modules/highlight.js/styles/atelier-sulphurpool-light.css";
@import "../../node_modules/highlight.js/styles/atom-one-dark-reasonable.css";
@import "../../node_modules/highlight.js/styles/atom-one-dark.css";
@import "../../node_modules/highlight.js/styles/atom-one-light.css";
@import "../../node_modules/highlight.js/styles/brown-paper.css";
@import "../../node_modules/highlight.js/styles/codepen-embed.css";
@import "../../node_modules/highlight.js/styles/color-brewer.css";
@import "../../node_modules/highlight.js/styles/darcula.css";
@import "../../node_modules/highlight.js/styles/dark.css";
@import "../../node_modules/highlight.js/styles/darkula.css";
@import "../../node_modules/highlight.js/styles/default.css";
@import "../../node_modules/highlight.js/styles/docco.css";
@import "../../node_modules/highlight.js/styles/dracula.css";
@import "../../node_modules/highlight.js/styles/far.css";
@import "../../node_modules/highlight.js/styles/foundation.css";
@import "../../node_modules/highlight.js/styles/github-gist.css";
@import "../../node_modules/highlight.js/styles/github.css";
@import "../../node_modules/highlight.js/styles/gml.css";
@import "../../node_modules/highlight.js/styles/googlecode.css";
@import "../../node_modules/highlight.js/styles/grayscale.css";
@import "../../node_modules/highlight.js/styles/gruvbox-dark.css";
@import "../../node_modules/highlight.js/styles/gruvbox-light.css";
@import "../../node_modules/highlight.js/styles/hopscotch.css";
@import "../../node_modules/highlight.js/styles/hybrid.css";
@import "../../node_modules/highlight.js/styles/idea.css";
@import "../../node_modules/highlight.js/styles/ir-black.css";
@import "../../node_modules/highlight.js/styles/isbl-editor-dark.css";
@import "../../node_modules/highlight.js/styles/isbl-editor-light.css";
@import "../../node_modules/highlight.js/styles/kimbie.dark.css";
@import "../../node_modules/highlight.js/styles/kimbie.light.css";
@import "../../node_modules/highlight.js/styles/lightfair.css";
@import "../../node_modules/highlight.js/styles/magula.css";
@import "../../node_modules/highlight.js/styles/mono-blue.css";
@import "../../node_modules/highlight.js/styles/monokai-sublime.css";
@import "../../node_modules/highlight.js/styles/monokai.css";
@import "../../node_modules/highlight.js/styles/night-owl.css";
@import "../../node_modules/highlight.js/styles/nord.css";
@import "../../node_modules/highlight.js/styles/obsidian.css";
@import "../../node_modules/highlight.js/styles/ocean.css";
@import "../../node_modules/highlight.js/styles/paraiso-dark.css";
@import "../../node_modules/highlight.js/styles/paraiso-light.css";
@import "../../node_modules/highlight.js/styles/pojoaque.css";
@import "../../node_modules/highlight.js/styles/purebasic.css";
@import "../../node_modules/highlight.js/styles/qtcreator_dark.css";
@import "../../node_modules/highlight.js/styles/qtcreator_light.css";
@import "../../node_modules/highlight.js/styles/railscasts.css";
@import "../../node_modules/highlight.js/styles/rainbow.css";
@import "../../node_modules/highlight.js/styles/routeros.css";
@import "../../node_modules/highlight.js/styles/school-book.css";
@import "../../node_modules/highlight.js/styles/shades-of-purple.css";
@import "../../node_modules/highlight.js/styles/solarized-dark.css";
@import "../../node_modules/highlight.js/styles/solarized-light.css";
@import "../../node_modules/highlight.js/styles/sunburst.css";
@import "../../node_modules/highlight.js/styles/tomorrow-night-blue.css";
@import "../../node_modules/highlight.js/styles/tomorrow-night-bright.css";
@import "../../node_modules/highlight.js/styles/tomorrow-night-eighties.css";
@import "../../node_modules/highlight.js/styles/tomorrow-night.css";
@import "../../node_modules/highlight.js/styles/tomorrow.css";
@import "../../node_modules/highlight.js/styles/vs.css";
@import "../../node_modules/highlight.js/styles/vs2015.css";
@import "../../node_modules/highlight.js/styles/xcode.css";
@import "../../node_modules/highlight.js/styles/xt256.css";
@import "../../node_modules/highlight.js/styles/zenburn.css";

.docs {
  border-right: 400px solid #ddd;
  position: relative;

  .examples {
    border: 20px solid #ddd;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    width: 360px;
    height: 480px;
  }
}
