{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
//  "plugins": [],
  "plugins": [["transform-runtime", {
    "helpers": false,
    "polyfill": false,
    "regenerator": false,
    "moduleName": "babel-runtime"
  }], ["component", {
    "libraryName": "element-ui"
  }]],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
