/* 设计稿尺寸 */
@psd-width: 375;
/* 基础字体大小 */
@rem: (@psd-width / 320 * 12rem);

/* px转rem方法 */
.font-size (@size) {
  font-size: (@size / @rem);
}
.width (@size) {
  width: (@size / @rem);
}
.height (@size) {
  height: (@size / @rem);
}
.min-width (@size) {
  min-width: (@size / @rem);
}
.min-height (@size) {
  min-height: (@size / @rem);
}
.max-width (@size) {
  max-width: (@size / @rem);
}
.max-height (@size) {
  max-height: (@size / @rem);
}
.padding (@top) {
  padding: (@top / @rem);
}
.padding-bottom (@top) {
  padding-bottom: (@top / @rem);
}
.padding-top (@top) {
  padding-top: (@top / @rem);
}
.padding-right (@top) {
  padding-right: (@top / @rem);
}
.padding-left (@top) {
  padding-left: (@top / @rem);
}
.padding (@top, @right) {
  padding: (@top / @rem) (@right / @rem);
}
.padding (@top, @right, @bottom) {
  padding: (@top / @rem) (@right / @rem) (@bottom / @rem);
}
.padding (@top, @right, @bottom, @left) {
  padding: (@top / @rem) (@right / @rem) (@bottom / @rem) (@left / @rem);
}
.margin (@top) {
  margin: (@top / @rem);
}
.margin-bottom (@top) {
  margin-bottom: (@top / @rem);
}
.margin-top (@top) {
  margin-top: (@top / @rem);
}
.margin-right (@top) {
  margin-right: (@top / @rem);
}
.margin-left (@top) {
  margin-left: (@top / @rem);
}
.margin (@top, @right) {
  margin: (@top / @rem) (@right / @rem);
}
.margin (@top, @right, @bottom) {
  margin: (@top / @rem) (@right / @rem) (@bottom / @rem);
}
.margin (@top, @right, @bottom, @left) {
  margin: (@top / @rem) (@right / @rem) (@bottom / @rem) (@left / @rem);
}
.background-size (@width: auto, @height: auto) {
  background-size: (@width / @rem) (@height / @rem);
}
.top (@size) {
  top: (@size / @rem);
}
.left (@size) {
  left: (@size / @rem);
}
.right (@size) {
  right: (@size / @rem);
}
.bottom (@size) {
  bottom: (@size / @rem);
}
.line-height (@size) {
  line-height: (@size / @rem);
}
.border-radius (@size) {
  border-radius: (@size / @rem);
}
