@default: #BEC5CB;
@primary: #5074FF;
@success: #67c23a;
@warning: #e6a23c;
@danger: #f56c6c;

@primary-light: #5074FF;
@danger-light: #FA9191;

@default-text: #1E3259;
@info-text: #1D3456;
@primary-text: #9898B6;
@success-text: #3D7D11;
@warning-text: #DE5E05;
@error-text: #FF5555;

@overtime: #FFE7E7;
@progress: #CEF5CA;
@not-started: #FFEAC7;
@disabled: #E2E5F0;
